<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- Android 13+ 需要这个 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/> 
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="LOFTER修复机"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true">
        <!-- ... Activity 内容不变 ... -->
    </application>
</manifest>